#img_file {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 5px 10px;
    width: 100%;
}

.form-group select {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100% !important;
}


.chosen-container{ 
    width: 100% !important;
}

.chosen-container-single .chosen-single {
    width: 100% !important;
    border: 1px solid #e8e7e3;
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 10px;
    height: 40px;
    background: #F3F2EE;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    background: #F3F2EE;
}
